 
			body{
				margin:0;
				color:black;
				background:#455A68;
				font-family:arial;
			}
			.header{
					height:80px;
					background:#1C242A;
				}
				.content{
					background:#2661a7;
					min-height:600px;
				}
			
			.form_actions{
				padding-top:15px;
				padding-bottom:30px;
			}
			.form_actions .add_btn{
					cursor:pointer;
					border-radius: 80px;
					background:#ff4215;
					color:#D9D9D9;
					border-color:#ff4215;
					padding:5px 5px 5px 5px;
					outline:none;
					font-weight: bold;
				}
			.list_content{
				width:950px;
				margin-left:40px;
				/*margin-left:auto;
				margin-right:auto; */
			}
			.tbl_header{
				font-size:13px;
				border-bottom:1px solid #D9D9D9;
				text-align:left;
				color:white;
				background:#ff4215;
			}
			.tbl-body{
				font-size:12px;
				line-height:25px;
			}
			a{
				color:black;
			}
			.inp_feild{
					border-radius:2px;
					border:none;
					
				}
			 
		 