@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body{
	background-color:#FFFFFF;
	font-family: Roboto-Regular;
}
.main_header{
   background-color: #000000;
   min-height: 59px;
   border-bottom: 6px solid #666666;
}
.headerlogotxt{
	color:#ffffff;
	font-weight: 400;
	font-family: arial;
	font-size: 29px;

}
.forgot1,.btnlog{
   padding-left: 0px;
   padding-right: 0px;
}
.btnlog{
	text-align: right;
}
.btnlogin,.btnlogin:hover{
  background: #000 !important;
  outline: none;
  border:1px solid black !important;
  color:white;
}
.forgot,.forgot:hover{
	text-decoration: none;
	color: #7E7E7E;
}
.logincontainer .login .emotion{
	margin: auto;
	float: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.logincontainer .login .loginbox{
	border: 1px solid #c4c6ca;
	margin: auto;
	float:none;
	min-height: 290px;
}

.logincontainer .login h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 17px 0 30px;
    text-align: center;
}
.login h1:before {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
.login h1:after {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}

.login h1:before, .login h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 25px;
    width: 27%;
}
.login form input[type="text"], .login form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*background: #eae7e7 url(../img/8bcLQqF.png) no-repeat;*/
    background: #eae7e7 url(images/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 100%;
}
#password {
    background-position: 10px -53px !important;
}
#username {
    background-position: 10px 10px !important;
}
.forgot{
 color:#7E7E7E;
 font-weight:bold;
 font: 15px Arial;
 text-decoration: none;
}
.btn_login, .btn_login:hover{
	background-color: #000000;
	color:white;
	font: 13px Helvetica, Arial, sans-serif;
	border:1px solid #000000;
	outline: none;
}

.empty{
	min-height: 40px;
}
.forgatag{
	width:50%;
}
.main_footer{
   background-color: #000000;
   min-height: 50px;
   border-top: 8px solid #666666;
   margin-top: 97px;
}

/**** *****/
.session_name{
	color: white;
    font-weight: 400;
    font-family: arial;
    font-size: 13px;
    line-height: 5px;
    text-align: right;
    /*padding: 10px 4px 0px 4px;*/
    padding-top: 19px;

}
.logout, .logout:hover{
	color:#757272;
	font-weight: 400;
	font-family: arial;
	font-size: 11px;
	line-height:0px;
	text-align: right;
	text-decoration: none;
}

#input_container {
    position: relative;
	padding: 0 0 0 0px;
	margin: 0 0px;
	background: #ddd;
	direction: ltr;
	width: 250px;
}
#input{
    height:20px;
    margin:0;
    padding-right: 30px;
    width: 100%;
    
}
.search{
	padding: 0.1rem .75rem !important;
}
.input_img {
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 10px;
    height: 10px;
    background: #d4d1d1;
}

.mastertable .table thead{
	background-color: #666666;
	color:white;
}
.mastertable .table td, .table th {
    padding: 0.15rem;
    vertical-align: top;
    border-top: 1px solid #666666;
}
.mastertable .table thead th{
	border-bottom: 2px solid #666666; 
}
.mastertable .table tbody{
	border:1px solid #666666;
}
#username-error,#password-error{
	color:red;
	margin-top: -5px;
}
.lorealth{
	cursor:pointer;

}
.lorealth img{
	width:10px;
	height:10px;
}
.emotionimg img{
	width:160px;
	margin:auto;
	float:none;
}
.mastercontainer .Pagetext1{
  color:black !important;
}
.mastercontainer .searchrow{
	margin-bottom: 0px;
}


@media screen and (max-width: 1200px){
	#bottompage2 {
	    width: 68% !important;
	    float: left !important;
	    margin-top: -5px;
	    margin-left: 29% !important;
	}
}
@media(min-width:367px) and (max-width: 415px){
	.login h1:before, .login h1:after {
	    content: "";
	    height: 1px;
	    position: absolute;
	    top: 25px;
	    width: 20%;
	  }
	  
}

@media(min-width:320px) and (max-width: 459px){
	.forgot1,.btnlog{
		width:100% !important;
        text-align: center;
        margin-top: 10px;
	}
	.loginbox{
     min-height:350px !important;
	}
}
@media(min-width:320px) and (max-width: 366px){
		.login h1:before, .login h1:after {
	    content: "";
	    height: 1px;
	    position: absolute;
	    top: 25px;
	    width: 20%;
	  }
	  
	  .forgot_submit{
		text-align: center;
	  }
	 .btnlog{
		text-align: center;
	 }
}
@media screen and (min-width:768px) {
	.page_nation{
       margin-top: 25px;
	}
	.searchboxtxt{
      margin-top: 15px;
	}
	.pagetbl{
	  float: right;
      margin-right: 10px;
	}
	.bottompage{
		width:50%;
		float:right;
		color: red !important;
	}
	#bottompage2{
		float:right;
		margin-top: -5px;
	}
}

@media(min-width:769px) and (max-width:991px){
	.emotionimg,.pagetbl {
		margin-top:20px !important;
		margin:auto !important;
		float:none!important;
		text-align: center !important;
		margin-bottom:20px !important;
   }
   .searchboxtxt{
   	width:100%;
   }
   #input_container{
   	width:98%;
   }
}
@media(min-width:0px) and (max-width:767px){
	
	.emotionimg,.pagetbl {
		margin-top:20px !important;
		margin:auto !important;
		float:none!important;
		text-align: center !important;
		margin-bottom:20px !important;
   }
   .searchboxtxt{
   	width:100%;
   }
   #input_container{
   	width:98%;
   }
   .bottompage{
		width:20% !important;
		float:left;
		
	}
	#bottompage2{
		width:100% !important;
		float:left;
		margin-left: 15%;
	}
   
}
#chart-footer div:nth-child(1){
    margin-top: 0px !important;
}

/* ==============================*/
h1.headerlogotxt{
	margin-top: 10px;
	text-transform: uppercase;
	color: #EFEFEF;
}
.chart_title_content_res{
	float: right;
}
.questions{
	background-color: #000000;
	padding-top: 10px;
    color: #ffffff;
    margin-top: 0px;
}
.commonbtn, .commonbtn:hover{
	border-radius: 0;
	background-color: #666666;
	color: #FFFFFF;
}
.remove-padding-right-left{
	padding-left: 0px;
	padding-right: 0px;
}
#backtodashboard{
	float: right;
    margin-top: 5px;
    margin-bottom: 5px
}
#backtolist{
	float: left;
    margin-top: 5px;
    margin-bottom: 5px
}
/********************Response raw data css************************/

.responsetblContainer thead{
	background-color: black !important;
	color:white !important;
}
.responsetblContainer .table td, .table th {
    padding: 0.15rem !important;
    vertical-align: top !important;
    border-top: 1px solid black !important;
    text-align: center;
}
.responsetblContainer .table thead th{
	border-bottom: 2px solid black !important;
}
.responsetblContainer .table tbody{
	border:1px solid black !important;
}
.tblline{
  overflow-x: inherit !important;
}
.rawdatatop{
	margin-top: 10px;
}

/**********************Response raw data css***********************/
.chart_title_content{
	text-transform: uppercase;
}
.emotion img {
	width: 150px;
}
/*html, body {height: 100%;}
#wrap {min-height: 100%;}
#main {overflow:auto;
	padding-bottom: 150px;} */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
} 
/*Opera Fix*/
/*body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}*/
.logincontainer{
	padding-top: 90px;
}
/********** char box*********************/
.greenbox{
    border: 1px solid #6dcf95;
    padding: 0px 10px 0px 8px;
    background: #6dcf95;
  }
  .orangebox{
    border: 1px solid #ffcf44;
    padding: 0px 10px 0px 8px;
    background: #ffcf44;
  }
  .goodtxt{
    margin-left: 15px;
    margin-right: 15px;
  }
/********** char box*********************/
.benchmark-image{
	position: absolute;
    top: 36%;
    right: -4%;
}
@media(min-width:992px) and (max-width: 1199px){
	.benchmark-image{
	    width: 19%;
	    right: 1%;
	}	
}

.chartcontainer	.chartbox{
  width:82%;
  height:61px;
}
.chartcontainer .chartboxcenter{
  width:37%;
  height:61px;
  margin-left: 98px;
}
.chartcontainer .chartboxdown{
  width:40%;
  height:61px;
}


