body{
margin:0;
color: #D9D9D9;
background:#2661a7;
font-family:arial;
}
.header{
height:80px;
background:#1C242A;
border-bottom: 1px solid white;
}
.header img{
margin-top:20px;
margin-left:40px;
}
.content{
background:#2661a7;
min-height:600px;
}

.form_actions{
padding-top:15px;
padding-bottom: 0px;
margin-bottom: 0px;
}
.form_actions .add_btn{
cursor:pointer;
border-radius: 80px;
background:#ff4215;
color:#D9D9D9;
border-color:#ff4215;
padding:5px 5px 5px 5px;
outline:none;
font-weight: bold;
}
.list_content{
width:950px;
margin-left:40px;
/*margin-left:auto;
margin-right:auto; */
}
.tbl_header{
font-size: 13px;
/* border-bottom: 1px solid #D9D9D9; */
text-align: left;
color: white;
padding:5px;
background:#ff4215;
}
.tbl-body{
font-size:12px;
line-height:25px;
margin-top: 18px;
color:black
}
a{
color:black;
}
.inp_feild{
border-radius:2px;
border:none;
width: 100%;
}
.header_div{
padding-bottom: 0px;
border-radius: 80px;
border: 1px solid #ff4215;
background:#ff4215;

}
