/***************************
****************************
  These are the styles for header and body section.
****************************
***************************/
body{
	margin: 80px 0px 0px 0px;
	color: #D9D9D9;
	background:#2661a7;
	font-family:arial;
}
.header{
	height:90px;
	background:#1C242A;
	border-bottom: 1px solid white;
	margin-top: -80px;
}
.header img{
	margin-top:20px;
	margin-left:40px;
}
.content{
	background:#2661a7;
	min-height:600px;
}

.form_actions{
	padding-top:15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.form_actions .add_btn{
	cursor:pointer;
	border-radius: 80px;
	background:#ff4215;
	color:#D9D9D9;
	border-color:#ff4215;
	padding:5px 5px 5px 5px;
	outline:none;
	font-weight: bold;
}

.headerbutton{
	padding-top:5px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.headerbutton .add_btn{
	cursor:pointer;
	border-radius: 80px;
	background:#ff4215;
	color:#D9D9D9;
	border-color:#ff4215;
	padding:5px 5px 5px 5px;
	outline:none;
	font-weight: bold;
}

.list_content{
	width:950px;
	margin-left:40px;
	/*margin-left:auto;
	margin-right:auto; */
}
.tbl_header{
	font-size: 13px;
	/* border-bottom: 1px solid #D9D9D9; */
	text-align: left;
	color: white;
	padding:5px;
	background:#ff4215;
}
.tbl-body{
	font-size:12px;
	line-height:25px;
	 
	color:black
}
a{
 color:black;
}
.inp_feild{
	border-radius:2px;
	border:none;
	width: 100%;
}
.send_email_bg{
  background-color:gray;
}
input[type="text"]:-moz-read-only { /* For Firefox */
    background-color: #B8B8B8;
}
input[type="text"]:read-only {
    background-color: #B8B8B8;
}
select:disabled {
    background: #B8B8B8;
	color:black;
}
.header_div{
	padding-bottom: 0px;
	border-radius: 80px;
	border: 1px solid #ff4215;
	background:#ff4215;
}
.header_div .tbl_header{
background:none;

} 
.gap{
height:12px;
}
.gap1{
    padding-bottom:12px;margin-top:15px; 
}
/*------------------------------------------------------------------
[*. jQuery UI Overrides]
*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 16px; height: 16px; cursor: default; background: url(../img/handle.png) no-repeat; border: none; cursor: pointer; }
.ui-slider .ui-slider-handle:hover { background-position: 0 -16px; }
.ui-slider .ui-slider-handle:active { background-position: 0 -32px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; height: 6px; font-size: .7em; display: block; border: 1px solid #E68E0B; box-shadow: 0 1px 0 rgba(255,255,255,.3) inset;  -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background: #FBB450; background: -moz-linear-gradient(top,  #FBB450 0%, #F89406 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBB450), color-stop(100%,#F89406)); background: -webkit-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: -o-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: -ms-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: linear-gradient(top,  #FBB450 0%,#F89406 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB450', endColorstr='#F89406',GradientType=0 ); }
.ui-slider-horizontal { height: 8px; }
.ui-slider-horizontal .ui-slider-handle { top: -4px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: -1px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { height: 100px; width: 8px;  }
.ui-slider-vertical .ui-slider-handle { left: -4px; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 6px; background: #FBB450; background: -moz-linear-gradient(top,  #FBB450 0%, #F89406 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBB450), color-stop(100%,#F89406)); background: -webkit-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: -o-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: -ms-linear-gradient(top,  #FBB450 0%,#F89406 100%); background: linear-gradient(top,  #FBB450 0%,#F89406 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB450', endColorstr='#F89406',GradientType=0 ); }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-datepicker th { font-weight: bold; color: gray; }
.ui-datepicker-today a:hover { background-color: #F90; color: #FFF; }
.ui-datepicker-today a { background-color: #333; cursor: pointer; padding: 0 1px; margin-bottom:0px; }
.ui-datepicker td a{ margin-bottom: 0px; border: 0px; }
.ui-datepicker td:hover{ color:white; }
.ui-datepicker td .ui-state-default { font-size: 11px; border:0px; background:none; margin-bottom:0px; padding:6px; color: #505050; text-align: center; filter:none; }
.ui-datepicker td .ui-state-active { background:#F90; margin-bottom:0px; font-size:normal; text-shadow: 0px; color:white;   -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ui-datepicker td .ui-state-default:hover { background:#666; color: #FFF; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.form_actions .add_btn1{
	cursor:pointer;
	border-radius: 80px;
	background:gray;
	color:#D9D9D9;
	border-color:gray;
	padding:5px 5px 5px 5px;
	outline:none;
	font-weight: bold;
}

/*----Prospect details page starts here--------------------------------------------------------*/
.page_content{
	width:750px;
	margin-left:40px;
	/*margin-left:auto;
	margin-right:auto; */
}
/*----Prospect details page ends here--------------------------------------------------------*/
