/*Line chart - Start*/
.chart_btn {
    min-width: 80px;
    color: #fff;
    background-color: #666666;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.chart_title{
    background-color: black;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.chart_title_content{
    color: white;
    margin-bottom: 0px;
}
.chart_title_content_res{
    color: white;
    text-align: right;
    margin-bottom: 0px;
}
/*    .highcharts-plot-background {
    -fx-border-color: red ; 
    -fx-border-style: solid ; 
    -fx-border-width: 4px ;
    -fx-border-insets: -2px ;
}*/
/*Line chart - End*/
/*Bar chart - Start*/
.chart_btn {
    min-width: 80px;
    color: #fff;
    background-color: #666666;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.chart_title{
    background-color: black;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.chart_title_content{
    color: white;
    margin-bottom: 0px;
}
.chart_title_content_res{
    color: white;
    text-align: right;
    margin-bottom: 0px;
}
/*Bar chart - End*/