.salong_abc{
   padding-top: 10px;
   /*padding-bottom: 70px;*/
}
.chart_btn {
    min-width: 127px;
    color: #fff;
    background-color: #666666;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.chart_title{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.chart_title_content{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
    text-transform: uppercase;
}
.chart_title_content_res{
    color: white;
    text-align: right;
    margin-bottom: 0px;
}
.survey_resp{
   margin-bottom: 20px;
}
.pleasant_visit{
    /*background-color: #ffde75;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 82%;
}
.come_back{
    /*background-color: #b4de86;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 82%;
}
.come_backdiagnos {
    /*background-color: #b4de86;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 71%;
}
.come_back_Application{
    /*background-color: #b4de86;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 40%;
}
.hair_styling{
    /*background-color: #f0a48c;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 82%;
}
.hair_styling_recommend{
    /*background-color: #f0a48c;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    margin-left: 43px;
}
.come_back_center{
    /*background-color: #b4de86;*/
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
    width: 40%;
    margin-left: 92px;
}


.line_diagonal_checkout {
    position: absolute;
    top: 82%;
    left: 76%;
    width: 90%;
    z-index: 999;
    transform: rotate(32deg);
    -o-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
}
.line_diagonal_checkout_new{
   position: absolute;
    top: 48%;
    left: 53%;
    width: 58%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.line_diagonal_forsal_new{
    position: absolute;
    top: 63%;
    left: 67%;
    width: 28%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.line_diagonal_klipp_new{
    position: absolute;
    top: 45%;
    left: 54%;
    width: 60%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.line_diagonal_reception_new{
    position: absolute;
    top: 68%;
    left: -14%;
    width: 30%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.line_diagonal_konsultation_new{
    position: absolute;
    top: 53%;
    left: -29%;
    width: 60%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.line_diagonal_teknisk_new{
    position: absolute;
    top: -52%;
    left: 11%;
    width: 90%;
    z-index: 999;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.line_diagonal_skyltfonster_new{
    position: absolute;
    top: 89%;
    left: 31%;
    width: 37%;
    z-index: 999;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.line_diagonal_skyltfonster{
    position: absolute;
    top: 121%;
    left: 42%;
    width: 15%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.line_diagonal_reception{
    position: absolute;
    top: 93%;
    left: -73%;
    width: 81%;
    z-index: 999;
    transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
}
.line_diagonal_checkout_fix{
    position: absolute;
    top: 86%;
    width: 98%;
    left: 75%;
    z-index: 999;
    transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}
.line_diagonal_diagnos{
    position: absolute;
    top: 6%;
    left: -92%;
    width: 127%;
    z-index: 999;
    transform: rotate(63deg);
    -o-transform: rotate(63deg);
    -moz-transform: rotate(63deg);
    -webkit-transform: rotate(63deg);
}
.come_shamponering {
    position: absolute;
    top: 0%;
    left: 43%;
    width: 17%;
    z-index: 999;
    transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(128deg);
}
.line_diagonal_styling {
    position: absolute;
    top: 8%;
    left: 82%;
    width: 94%;
    z-index: 999;
    transform: rotate(148deg);
    -o-transform: rotate(148deg);
    -moz-transform: rotate(148deg);
    -webkit-transform: rotate(161deg);
}

.line_diagonal_forsaljningsyta {

	position: absolute;
    top: 65%;
    left: 82%;
    width: 70%;
    z-index: 999;
    transform: rotate(181deg);
    -o-transform: rotate(181deg);
    -moz-transform: rotate(181deg);
    -webkit-transform: rotate(181deg);
}
.shamponering{
    padding-top: 50px;
}
.pv_margin{
    margin-bottom: 5px;
}
.recommend{
    margin-left: 8px;
}
.orsal{
    padding-top: 45px;
}
.klipp{
    padding-top: 50px;
}
.cheout{
    padding-top: 7px;
}
.recep{
    padding-top: 55px;
}

.checkout{
    font-weight: 600;
    font-size: 15px;
    padding-left: 27px;
}
.skyltfonster{
    text-align:center;
    font-weight: 600;
    font-size: 15px;
}
.reception{
    font-weight: 600; 
    font-size: 15px;
}

hr{
    border: 1px solid #717275;
}
.salong_abc a:hover, .salong_abc a{
    color: #000000;
    text-decoration: none;
}



@media (min-width: 320px) and (max-width: 480px){
    .over{
        overflow-x: scroll;
    }
    .over div {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pleasant_visit {
        /*background-color: #ffde75;*/
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 110%;
    }
    .come_back {
        /*background-color: #b4de86;*/
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 110%;
    }
    .come_back_center {
        /*background-color: #b4de86;*/
        padding-top: 5px;
        padding-bottom: 6px;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 76%;
        margin-left: 33px;
    }
    .line_diagonal_checkout_new {
        position: absolute;
        top: 45%;
        left: 85%;
        width: 85%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_checkout {
        position: absolute;
        top: 74%;
        left: 107%;
        width: 88%;
        z-index: 999;
        transform: rotate(40deg);
        -o-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -webkit-transform: rotate(60deg);

    }
    .checkout {
        font-weight: 600;
        font-size: 10px;
        padding-left: 8px;
    }
    .reception {
        font-weight: 600;
        font-size: 9px;
    }
    .orsal {
        padding-top: 11px;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        max-width: 69%;
        height: auto;
        position: absolute;
        left: 46px;
    }
    .skyltfonster {
        text-align: center;
        font-weight: 600;
        font-size: 10px;
    }
}

@media (min-width: 501px) and (max-width: 767px){

}

/*@media (min-width: 768px) and (max-width: 991px){
    .pleasant_visit {
        
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 112%;
    }
    .come_back {
      
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 112%;
    }
    .come_back_center {
        
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 49%;
        margin-left: 45px;
    }
    .hair_styling {
        background-color: #f0a48c;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 112%;
    }
    .come_back_Application {
       
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 52%;
    }
    .hair_styling_recommend {
        
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 43%;
    }
    .backwash{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .checkout {
        font-weight: 600;
        font-size: 9px;
        padding-left: 31px;
    }
    .orsal {
        padding-top: 47px;
    }
    .reception {
        font-weight: 600;
        font-size: 9px;
    }
    .come_backdiagnos {
        
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        border: 1px solid;
        box-shadow: 0px 0px 2px 2px #8e8e8e;
        width: 120%;
    }
    .skyltfonster {
        text-align: center;
        font-weight: 600;
        font-size: 9px;
    }
    .line_diagonal_checkout_new {
        position: absolute;
        top: 45%;
        left: 54%;
        width: 93%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_checkout {
        position: absolute;
        top: 79%;
        left: 75%;
        width: 86%;
        z-index: 999;
        transform: rotate(67deg);
        -o-transform: rotate(67deg);
        -moz-transform: rotate(67deg);
        -webkit-transform: rotate(67deg);
    }
    .line_diagonal_skyltfonster_new {
        position: absolute;
        top: 85%;
        left: 29%;
        width: 41%;
        z-index: 999;
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .line_diagonal_skyltfonster {
        position: absolute;
        top: 109%;
        left: 40%;
        width: 18%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_reception_new {
        position: absolute;
        top: 65%;
        left: -17%;
        width: 45%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_reception {
        position: absolute;
        top: 87%;
        left: -51%;
        width: 72%;
        z-index: 999;
        transform: rotate(-55deg);
        -o-transform: rotate(-55deg);
        -moz-transform: rotate(-55deg);
        -webkit-transform: rotate(-55deg);
    }
    .line_diagonal_teknisk_new {
        position: absolute;
        top: -85%;
        left: -1%;
        width: 94%;
        z-index: 999;
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .come_shamponering {
        position: absolute;
        top: 1%;
        left: 29.5%;
        width: 38%;
        z-index: 999;
        transform: rotate(133deg);
        -o-transform: rotate(133deg);
        -moz-transform: rotate(133deg);
        -webkit-transform: rotate(133deg);
    }
    .line_diagonal_klipp_new {
        position: absolute;
        top: 47%;
        left: 44%;
        width: 111%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_styling {
        position: absolute;
        top: 2%;
        left: 88%;
        width: 83%;
        z-index: 999;
        transform: rotate(134deg);
        -o-transform: rotate(134deg);
        -moz-transform: rotate(134deg);
        -webkit-transform: rotate(134deg);
    }
    .line_diagonal_konsultation_new {
        position: absolute;
        top: 47%;
        left: -59%;
        width: 130%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_diagnos {
        position: absolute;
        top: -11%;
        left: -65%;
        width: 113%;
        z-index: 999;
        transform: rotate(75deg);
        -o-transform: rotate(75deg);
        -moz-transform: rotate(75deg);
        -webkit-transform: rotate(75deg);
    }
    .line_diagonal_forsal_new {
        position: absolute;
        top: 61%;
        left: 69%;
        width: 60%;
        z-index: 999;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .line_diagonal_forsaljningsyta {
        position: absolute;
        top: 62%;
        left: 96%;
        width: 22%;
        z-index: 999;
        transform: rotate(223deg);
        -o-transform: rotate(223deg);
        -moz-transform: rotate(223deg);
        -webkit-transform: rotate(223deg);
    }
}*/

.start-input, .end-input{
    margin-top: 6px;
}
.reporting-period{
    font-size: 17.5px;  
}
.radio-selection, .start-input, .end-input, .survey-resp-selected{
    font-size: 15.5px;
}
.survey-resp-selected{
    text-transform: uppercase;
    margin-bottom: 0px;
}
.rawbtn{
    text-transform: uppercase;
    border: 1px solid #000000;
    text-align: center;
    box-shadow: 0px 0px 2px 2px #8e8e8e;
}
.rawbtn p{
    margin-bottom: 0px;    
}
.rawbtn {
    cursor: pointer;
}

.back-apply-btn{
    margin-top: 20px;
}
#datetimepicker6, #datetimepicker7{
    border: 1px solid #000000;
}
#datetimepicker6 input, #datetimepicker7 input{
    border-radius: 0;
    border: 0;
}
#datetimepicker6 .input-group-addon, #datetimepicker7 .input-group-addon{
    background-color: transparent;
    border-radius: 0;
}
#datetimepicker6 .input-group-addon .glyphicon.glyphicon-calendar, #datetimepicker7 .input-group-addon .glyphicon.glyphicon-calendar{
    border: 1px solid blue;
    padding: 2px;
}
#survey-loading, #email-loading{    
    display: none;
}
.emailcustomloading{
    min-height: 61px;
}
.emailcustomloading img{
    margin-top: 21px;
}
#successalert{
    visibility: hidden;
    margin-bottom: 10px;

}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .start-date, .end-date {
        padding-left: 0;
        padding-right: 0;
    }
    #survey-filter .chart_btn{
        min-width: 87px;
    }
    .rawbtn p, .rawbtn #emailbtn{
        font-size: 12px;
    }
    .survey-resp-selected{
        font-size: 14px;
    }
} 
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .start-date, .end-date {
        padding-left: 5px;
        padding-right: 5px;
    }
    #survey-filter .chart_btn{
        min-width: 87px;
    }
    .rawbtn p, .rawbtn #emailbtn{
        font-size: 10px;
    }
    .survey-resp-selected{
        font-size: 14px;
    }
}
@media screen and (min-width: 1357px) {
	.questionsimg img{
    	width:53%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1356px) {
    .benchmark-image{
       width:15%;
       top:35%;
       right: 3%;
	}
	.reception,.checkout,.skyltfonster{
		font-size: 13px;
	}
	.checkout {
      padding-left: 0px;
      text-align: center;
    }
    .shamponering {
       padding-top: 46px;
    }
    .questionsimg img{
    	width:47%;
    }
    .line_diagonal_reception {
	    position: absolute;
	    top: 91%;
	    left: -69%;
	    width: 74%;
	    z-index: 999;
	    transform: rotate(-28deg);
	    -o-transform: rotate(-28deg);
	    -moz-transform: rotate(-28deg);
	    -webkit-transform: rotate(-28deg);
    }
    .line_diagonal_forsaljningsyta {
	    position: absolute;
	    top: 59%;
	    left: 81%;
	    width: 79%;
	    z-index: 999;
	    transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	}
	.line_diagonal_diagnos {
	    position: absolute;
	    top: 15%;
	    left: -89%;
	    width: 116%;
	    z-index: 999;
	    transform: rotate(57deg);
	    -o-transform: rotate(57deg);
	    -moz-transform: rotate(57deg);
	    -webkit-transform: rotate(57deg);
    }
    .reporting-period{
    	font-size: 15px;
    }
    #successalert {
	    visibility: hidden;
	    margin-bottom: 5px;
   }
    
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .benchmark-image{
       width:17%;
       top:32%;
       right: 1%;
	}
	.reception,.checkout,.skyltfonster{
		font-size: 13px;
	}
	.checkout {
      padding-left: 0px;
      text-align: center;
    }
    .shamponering {
       padding-top: 46px;
    }
    .questionsimg img{
    	width:53%;
    }
    .line_diagonal_reception {
	    position: absolute;
	    top: 91%;
	    left: -69%;
	    width: 74%;
	    z-index: 999;
	    transform: rotate(-28deg);
	    -o-transform: rotate(-28deg);
	    -moz-transform: rotate(-28deg);
	    -webkit-transform: rotate(-28deg);
    }
    .line_diagonal_forsaljningsyta {
	    position: absolute;
	    top: 59%;
	    left: 81%;
	    width: 79%;
	    z-index: 999;
	    transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	}
	.line_diagonal_diagnos {
	    position: absolute;
	    top: 3%;
    	left: -88%;
    	width: 114%;
	    z-index: 999;
	    transform: rotate(57deg);
	    -o-transform: rotate(57deg);
	    -moz-transform: rotate(57deg);
	    -webkit-transform: rotate(57deg);
    }
    .chartcontainer .chartboxcenter {
       margin-left: 78px;
   }
	.line_diagonal_skyltfonster {
	    position: absolute;
	    top: 121%;
	    left: 41%;
	    width: 17%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	}
	.come_shamponering {
	    position: absolute;
	    top: 0%;
	    left: 33%;
	    width: 26%;
	    z-index: 999;
	    transform: rotate(145deg);
	    -o-transform: rotate(145deg);
	    -moz-transform: rotate(145deg);
	    -webkit-transform: rotate(145deg);
   }
   .reporting-period{
    	font-size: 15px;
    }
    .orsal {
    padding-top: 28px;
   }
   .line_diagonal_forsal_new {
    position: absolute;
    top: 57%;
    left: 63%;
    width: 36%;
    z-index: 999;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .remove-padding-right-lef{
  	margin-top: -15px;
  }
   #successalert {
	    visibility: hidden;
	    margin-bottom: 5px;
   }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	#successalert {
	    visibility: hidden;
	    margin-bottom: 1px;
    }
    .benchmark-image{
       width:15%;
       top:35%;
       right: 3%;
	}
	.reception,.checkout,.skyltfonster{
		font-size: 11px;
	}
	.come_back,.pleasant_visit,.come_back_center,.come_back_Application,.hair_styling,.come_backdiagnos,.hair_styling_recommend{
		font-size: 9px;
	}
	.checkout {
      padding-left: 0px;
    }
    .questionsimg img{
    	width:70%;
    }
    .line_diagonal_reception {
	    position: absolute;
	    top: 91%;
	    left: -69%;
	    width: 74%;
	    z-index: 999;
	    transform: rotate(-28deg);
	    -o-transform: rotate(-28deg);
	    -moz-transform: rotate(-28deg);
	    -webkit-transform: rotate(-28deg);
    }
    .line_diagonal_forsaljningsyta {
	    position: absolute;
	    top: 59%;
	    left: 81%;
	    width: 79%;
	    z-index: 999;
	    transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	}
	.line_diagonal_diagnos {
	    position: absolute;
	    top: 3%;
    	left: -88%;
    	width: 114%;
	    z-index: 999;
	    transform: rotate(57deg);
	    -o-transform: rotate(57deg);
	    -moz-transform: rotate(57deg);
	    -webkit-transform: rotate(57deg);
    }
    .chartcontainer .chartboxcenter {
       margin-left: 55px;
    }

	.line_diagonal_skyltfonster {
	    position: absolute;
	    top: 121%;
	    left: 41%;
	    width: 17%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	}
	.come_shamponering {
	    position: absolute;
	    top: 0%;
	    left: 33%;
	    width: 26%;
	    z-index: 999;
	    transform: rotate(145deg);
	    -o-transform: rotate(145deg);
	    -moz-transform: rotate(145deg);
	    -webkit-transform: rotate(145deg);
   }
   .chartcontainer .chartboxdown {
	    width: 43%;
	    height: 50px;
	    padding-left: 6px;
   }
    .line_diagonal_checkout_new {
	    position: absolute;
	    top: 47%;
	    left: 32%;
	    width: 95%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	}
	.line_diagonal_skyltfonster {
	    position: absolute;
	    top: 118%;
	    left: 40%;
	    width: 20%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
    }
    .line_diagonal_reception_new {
	    position: absolute;
	    top: 64%;
	    left: -21%;
	    width: 48%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
    }
    .line_diagonal_reception {
	    position: absolute;
	    top: 91%;
	    left: -71%;
	    width: 77%;
	    z-index: 999;
	    transform: rotate(-28deg);
	    -o-transform: rotate(-28deg);
	    -moz-transform: rotate(-28deg);
	    -webkit-transform: rotate(-28deg);
    }
    .line_diagonal_konsultation_new {
	    position: absolute;
	    top: 49%;
	    left: -48%;
	    width: 100%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
   }
	.line_diagonal_diagnos {
	    position: absolute;
	    top: 4%;
	    left: -91%;
	    width: 133%;
	    z-index: 999;
	    transform: rotate(67deg);
	    -o-transform: rotate(67deg);
	    -moz-transform: rotate(67deg);
	    -webkit-transform: rotate(67deg);
	}
	.come_shamponering {
	    position: absolute;
	    top: 0%;
	    left: 26%;
	    width: 36%;
	    z-index: 999;
	    transform: rotate(145deg);
	    -o-transform: rotate(145deg);
	    -moz-transform: rotate(145deg);
	    -webkit-transform: rotate(145deg);
    }
    .line_diagonal_klipp_new {
	    position: absolute;
	    top: 48%;
	    left: 32%;
	    width: 95%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
    }
    .line_diagonal_styling {
	    position: absolute;
	    top: 2%;
	    left: 72%;
	    width: 113%;
	    z-index: 999;
	    transform: rotate(148deg);
	    -o-transform: rotate(148deg);
	    -moz-transform: rotate(148deg);
	    -webkit-transform: rotate(148deg);
    }
    .line_diagonal_forsal_new {
	    position: absolute;
	    top: 55%;
	    left: 58%;
	    width: 47%;
	    z-index: 999;
	    transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
    }
	.line_diagonal_forsaljningsyta {
	    position: absolute;
	    top: 55%;
	    left: 81%;
	    width: 60%;
	    z-index: 999;
	    transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	}
	.reporting-period{
    	font-size: 15px;
    }
    .orsal {
     padding-top: 30px;
   }
}
#summaryDashboardcanvas {
    display: none;
}
#successalert strong{
    font-size: 12px;
}

@media screen and (min-width:992px) {
   .section-four-heading .reception{
        margin-left: 22px;
    } 
}
